/*Something clean like a white or slightly offwhite color scheme, maybe some future looking blue or something
No hard borders or edges but curves and borders don't fully connect but are like underlines
When you hover over a button it should highlight
Be able to change color scheme by pushing a button on the site*/
@font-face {
    font-family: Millennium;
    src: url(resources/fonts/Sigvar-Serial-Regular.ttf);
}
body{
    background-color: rgb(30,30,30);
}
::-webkit-scrollbar {
    display: none;
}
h1{
    text-align: center;
}
h1, h2{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#projectShowcase{
    width: 50vw;
    margin: 20vh auto;
    height: auto;
    overflow:scroll;
    display: flex;
    scroll-snap-type: x mandatory;
}
#projectShowcase:hover{
    box-shadow: 0px 0px 15px white;
}
.project{
    flex:none;
    height:100%;
    width: 100%;
    scroll-snap-align: start;
}
.project p{
    
    margin: 10px;
}
#millenniumdle{
    text-align: center;
    font-family: Millennium;
    background-color: red;
    background-image: url("resources/Millennium Circle Transparent.png");
    background-position: center;
    color:white;
}