@font-face {
    font-family: Millennium;
    src: url(resources/fonts/Sigvar-Serial-Regular.ttf);
}
body{
    background-color: lightcoral;
    font-family: Millennium;
    text-align: center;
}
h1{
    color:red;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
#gameContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#results{
    width: 60%;
    max-height: 50vh;
    overflow-y: scroll;
}
.result{
    display: inline-block;
    width: 25%;
}
#guessContainer{
    display:flex;
    align-items: center;
}
#guessBtn{
    font-family: Millennium;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
#guessDisplay{
    background-color: white;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
dialog{
    max-width: 25vw;
    min-width: 30ch;
}
dialog::backdrop{
    background-color: rgba(50,50,50,.25);
}
@media screen and (max-width:1160px){
    .result{
        width: 50%;
    }
}
@media screen and (max-width:800px){
    .result{
        width: 100%;
    }
}